body {
      background-image: linear-gradient(to right, rgb(48, 48, 173), rgb(72, 238, 72));
  }
h1{color: white;
    text-align: center;}
    h3{color: white;
        text-align: center;}
        table{color: white;}
        div {
            
            width: 300px;
            border-color: black;
            border-style: hidden;
            border-width: 1px;
            padding: 25px 50px 75px 100px;
            background-image: linear-gradient(to right, rgb(87, 87, 238), rgb(21, 173, 21))
          }
          